
<p>NCI Metathesaurus (NCIm) is built on top of a subset of the NLM's UMLS Metathesaurus, use of which is restricted under 
the UMLS license agreement.  Your UMLS credentials will be validated in this page prior to downloading the NCIm RRF 
data files.  To download other files associated with the NCIm (e.g. documentation, MetamorphoSys), or if you do not 
currently have a UMLS account or license, please return to the main <a href="../metathesaurus-downloads" target="_parent">NCI Metathesaurus Downloads</a>
 page and follow the links there.</p>

<p><b><a class="disabled" id="download_meta" href="#" ><b>Metathesaurus.RRF.zip</b></a></b></br>

Please <a class="button" href="#">Enter</a> your license information to validate your UMLS account and enable the download 
link above.  If your account does not validate correctly, please request a new one from the NLM.</p>
									
<p><b>Important.</b>  Please be advised that if you validate your credentials and then navigate away from this page without 
having downloaded the NCI Metathesaurus RRF files, you might need to revalidate your UMLS credentials again before you can 
download the files.</p>

<div class="popup">
 <form name="loginFrm" id="loginFrm" >
  <P><label for="userid">Username</label> <input name="username" type="text" id="userid"/></P>
  <P><label for="pwdid">Password</label> <input name="password" type="password" id="pwdid"/></P>
  <P><input class="close" type="button" name="loginSubmit" id="loginSubmit" value="Submit" style="padding-right:3em" /><input class="close" type="button" value="Close" style="padding-right:3em"/></P>
 </form>
</div>