/* ---------- Color Module Styles ----------- */

body {
    color: #4a4a4a;
    background: #123e57;
}

#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
    background: #ffffff;
}

.tabs ul.primary li a.is-active {
    background-color: #ffffff;
}

.tabs ul.primary li.is-active a {
    background-color: #ffffff;
    border-bottom-color: #ffffff;
}

#navbar-top {
    background-color: #ffffff;
}

#navbar-main {
    background-color: #c2c4c5;
}

a,
.link {
    color: #2a71a5;
}

a:hover,
a:focus,
.link:hover,
.link:focus {
    color: #1a8cdf;
}

a:active,
.link:active {
    color: #42a7f1;
}

.page-item.active .page-link {
    background-color: #2a71a5;
    border-color: #2a71a5;
}

.page-link,
.page-link:hover {
    color: #2a71a5;
}

.sidebar .block {
    background-color: #ffffff;
    border-color: #cccccc;
}

.btn-primary {
    background-color: #019dbf;
    border-color: #019dbf;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #016c83;
}

.site-footer {
    background: #123e57;
}

.region-header,
.region-header a,
.region-header li a.is-active,
.region-header .site-branding__text,
.region-header .site-branding,
.region-header .site-branding__text a,
.region-header .site-branding a,
.region-secondary-menu .menu-item a,
.region-secondary-menu .menu-item a.is-active {
    color: #000000;
}


/* ---------- Color Form ----------- */

[dir="rtl"] .color-form .color-palette {
    margin-left: 0;
    margin-right: 20px;
}

[dir="rtl"] .color-form .form-item label {
    float: right;
}

[dir="rtl"] .color-form .color-palette .lock {
    right: -20px;
    left: 0;
}